body {
    background: #eee;
}
#app {
    color: #333;
    background: #fff;
    width: 100%;
    max-width: 42em;
    margin: 0 auto;
    padding: 1em;
}

table {
    width: 100%;
    margin: 0 0 1em;
    border-collapse: collapse;
}
table.users__loading {
    pointer-events: none;
    opacity: .5;
}
th {
    background-color: #CCCCCD;
}
tr:nth-child(2n+1) {
    background-color: #EDEDED;
}
th,td {
    border: 1px solid #333;
}
td:last-child {
    text-align: right;
}

.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 2em;
    left: 50%;
    width: 20em;
    margin-left: -10em;
    padding: 1em;
    box-sizing: border-box;
    background: white;
    outline: 100em solid rgba(0,0,0,.8);
    transition: .3s;
}
.modal--open {
    visibility: visible;
    opacity: 1;
}
.modal__close {
    position: absolute;
    top: -1em;
    right: -1em;
    color: white;
    background: red;
    text-align: center;
    width: 2em;
    line-height: 2em;
    border-radius: 1em;
    cursor: pointer;
}
.modal__title {
    margin: 0 0 .2em;
}

.btn,
.btn__create,
.btn__edit,
.btn__delete,
.btn__submit {
    display: inline-block;
    text-decoration: none;
    padding: .2em .5em;
    color: #333;
    background-color: #ccc;
    border-radius: .3em;
    transition: .3s;
    font-family: sans-serif;
    border: 0;
    font-size: inherit;
    cursor: pointer;
}
.btn:hover,
.btn__create:hover,
.btn__edit:hover {
    background: #999;
}

.btn__delete:hover {
    color: #eee;
    background-color: #944;
}
.btn__submit:hover {
    color: #eee;
    background-color: #494;
}
.btn__submit[disabled] {
    color: #777;
    background: #999;
}